*{
    margin: 0;
    padding: 0;
}
.heading{
    background-color: #14213d;
    text-align: center;
    color: white;
    padding:3vh;
}
.container{
    height: 40vh;
    margin-left:25%;
    margin-right: 25%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.container img{
    height: 150px;
    width: 150px;
    transform: rotate(-90deg);
}
.counters{
    
    margin-top: 5px;
    margin-left:25%;
    margin-right: 25%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.counters div{
    font-size: 2rem;
    text-align: center;
}
.count-you{
    width:15vw;
}
.count-comp{
    width:15vw;
}
.display-container{
    display: flex;
    justify-content: center;
    margin-top:2%;
}
.display{
    border-radius:3%;
    background-color: #14213d;
    color:white;
    font-size: 2rem;
    height:10vh;
    width:30vw;
    text-align: center;
    display: grid;
    align-items: center;
}
.playerscore{
    font-size: 3rem;
}
.compscore{
    font-size: 3rem;
}
